.button {
    margin: 10px;
    padding: 10px;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.google {
    text-align: center;
    padding-top: 100px;
}

.center {
    text-align: center;
    padding: 10px;
    margin: auto;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
}

.footer-left {
    padding: 10px;
    float: left;
}

.footer-right {
    padding: 10px;
    float: right;
}

